h1 {
  width:100%;
  font-size:450%;
}
h2 {
  font-size:150%;
  text-transform:uppercase;
  letter-spacing:5px;
}
h3 {
  font-size:100%;
  font-weight:normal;
  text-transform:uppercase;
}
a {
  color:black;
  font-weight:bold;
  text-decoration:none;
}
#header {
  width:80%;
  height:25%;
  float:left;
  margin-bottom:40px;
}
#logo {
  margin-top:25px;
}
#social {
  margin:60px;
  float:right;
}
#content {
  clear:both;
  text-align:center;
  padding-top:10px;
  font-family:Arial,sans-serif;
}
#content > h2 {
  transform: scaleY(1.1);
}
.songlink {
  display:inline-block;
  width:700px;
  height:199px;
}
.release {
  margin-bottom:75px;
}
footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size:70%;
  /*position:absolute;
  bottom:10px;*/
  width:99%;
  text-align:center;
}

/* mobile only */
@media (pointer: coarse) {
  h2 {
    font-size:250%;
  }
  h3 {
    font-size:120%;
  }
  a > img {
    width:85px;
    height:85px;
    margin-left:0;
  }
  #header {
    width:70%;
    margin-top:10px;
    margin-left:10px;
  }
  #logo {
    content:url("CAMMYT-header-black-TIGHT-MOBILE.png");
  }
  #content {
    padding-top:80px;
    width:100%;
  }
  .songlink {
    width:300px;
    height:229px;
    transform:translateY(300px) scale(3);
  }
  .release {
    margin-bottom:650px;
  }
  footer {
    font-size:180%;
  }
}